/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  /* Шрифты */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Цвета */
  --second-cl: #2196f3;
  --accent-txt: #2196f3;
  --primary-txt: #212121;
  --secondary-txt: #ffffff;
  --half-txt: #757575;
  --secondary-half-txt: rgba(255, 255, 255, 0.6);
  /* цвета фона */
  --dark-fons: #2f303a;
  --light-fons: #f5f4fa;
  --portfolio-fons: #e5e5e5;
}

body {
  font-family: var(--main-font);
  color: var(--primary-txt);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
p:last-child {
  margin-bottom: 0;
}

img {
  border: block;
  max-width: 100%;
  height: auto;
  display: block;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  background: var(--secondary-font);
}

/* Стили логотипа */
.header-link,
.footer-link {
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-cl);
}
.logo-primary {
  color: var(--primary-txt);
}
.logo-secondary {
  color: var(--secondary-txt);
}
/* Стили ссылок ХЕДЕРА */
.header-link {
  margin-right: 93px;
}

.header-mail {
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--half-txt);

  margin-right: 50px;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-txt);
}
.header-phone {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--half-txt);
}

.header-phone:hover,
.header-phone:focus {
  color: var(--accent-txt);
}

.nav-item {
  margin-right: 50px;
}

.nav-item:last-child {
  margin: 0;
}

.header-wrapper {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.header-item:hover,
.header-item:focus {
  color: var(--accent-txt);
}

.header-list {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

/* Секция Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: var(--dark-fons);
}

.hero-title {
  max-width: 696px;
  min-width: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-txt);
}
.hero-btn {
  max-width: 200px;
  min-width: 50px;
  padding: 10px 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: none;
  border-radius: 4px;
  background: var(--second-cl);
  cursor: pointer;
}
.hero-btn-color {
  color: var(--secondary-txt);
}

.title {
  margin-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-txt);
}

/* О нас */

.about-item {
  width: 270px;
  height: 75px;
  margin-right: 30px;
}

.about-item:last-child {
  margin: 0;
}

.subtitle {
  margin: 0;
  padding-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-txt);
}

.container-section {
  margin-bottom: 0;
}
.about-list {
  display: flex;
}

.about-descr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--half-txt);
}

/* Галерея */

.galery {
  padding-top: 0;
}

.galery-list {
  display: flex;
}

.galery-item {
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: 30px;
  margin-left: auto;
}
.galery-item:last-child {
  margin: 0;
}

/* Команда */

.team {
  background: var(--light-fons);
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-txt);
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--half-txt);
}

.team-list {
  display: flex;
  text-align: center;
}

.team-item {
  margin-right: 30px;
  background-color: var(--secondary-txt);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item:last-child {
  margin: 0;
}

/* Футер */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-fons);
}
.footer-gps {
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-txt);
}
.footer-mail,
.footer-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--half-txt);
}

.footer-container {
  margin-top: 20px;
}
.footer-list-link {
  padding-bottom: 9px;
}
/* Портфолио */

.nav-link {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1.63;
  background: var(--light-fons);
  color: var(--primary-txt);

  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.navigate {
  margin-bottom: 50px;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  margin-right: 8px;
}
.nav-wrapper:last-child {
  margin: 0;
}

/* .project-container {
  margin-left: auto;
  margin-right: auto;
} */

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  margin-bottom: 30px;
}

.project-item:nth-last-child(-n + 9) {
  margin-right: 0;
}

.project-footer {
  padding-top: 20px;
  padding-bottom: 19px;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-name {
  margin: 0;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-txt);
}

.project-filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--half-txt);
}

.nav-link:hover,
.nav-link:focus {
  background-color: var(--accent-txt);
  color: var(--secondary-txt);
}
